<?xml version='1.0' encoding='utf-8'?>
<plugin id="SimpleMath" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MyMath</name>
	<js-module name="MyMath" src="www/MyMath.js">
		<clobbers target="cordova.plugins.MyMath" />
	</js-module>
	<platform name="ios">
			<config-file parent="/*" target="config.xml">
					<feature name="MyMath">
						<param name="ios-package" value="MyMath" />
					</feature>
			</config-file>
			
			<source-file src="src/ios/MyMath.m" />
	</platform>
</plugin>